body {
  background-color: darkslategray;
  color: lightsteelblue;
  font-family: 'Bree Serif', ;
  font-size: 25px;
  margin: 100px 50px 50px 100px;
}
h1{
  text-align: center;
  text-transform: uppercase
}
h2{
  text-align: center;
  text-transform: lowercase;
}
a {
  letter-spacing: 25px;
  color: goldenrod;
  text-decoration: none;
}
a:hover {
  color: mediumspringgreen;
  transition: color 2s ease;
}
