body {
  margin: 0;
  background-color: black;
}
.container {
  width: 900px;
  margin: 100px auto;
}
.header, .subhead, .column, .footer {
  background-color: thistle;
  float: left;
}
.header {
  width: 900px;
  height: 100px;
}
.subhead {
  width: 900px;
  height: 50px;
  margin: 25px 0;
}
.column {
  width: 283.33px;
  height: 600px;
}
.footer {
  width: 900px;
  height: 75px;
  margin: 25px 0 0 0;
}
.margin25 {
  margin: 0 25px;
}
