body {
  background-color: mistyrose;
  color: black;
  font-family: arial;
  font-size: 35px;
  margin: 0px 250px 0px 250px;
  text-align: left;
  text-transform: uppercase;
}
a {
  letter-spacing: 0px;
  color: limegreen;
  text-decoration: none;
  text-align: center;
  font-size: 35px;
}
a:hover {
  color: pink;
}
#images img {
  max-width: 100%;
  margin: 25px 0;
}
