body {
  background-color: darkslategray;
  font-family: garamond;
  font-size: 30px;
  text-align: center;
  margin: 50px auto;
  text-transform: uppercase;
  color: thistle;
}

h1 {
  font-family: arial;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

#images {
  margin: 0;
}

#images img {
  max-width: 100%;
  margin: 25px 0px;
}
