body {
  background-color: darkslategray;
  color: steelblue;
  font-family: arial;
  font-size: 20px;
  margin: 50px 100px 50px 50px;
}

h1{
  text-align: center;
  text-transform: uppercase
}
a {
  letter-spacing: 25px;
  color: lightsteelblue;
  text-decoration: none;
}
a:hover {
  color: hotpink;
}
#images {
  background-color: white;
  margin: 0;
  text-align: center;
  color: black;
  font-family: arial;
  text-transform: uppercase;
}
#images img {
  max-width: 100%;
  margin: 25px 0px;
}
