body {
  background-color: lightslategray;
  color: goldenrod;
  font-family: arial;
  font-size: 20px;
  margin: 300px 100px 100px 300px;
  text-align: center;
}

h1{
  text-align: center;
  text-transform: uppercase
}
a {
  letter-spacing: 50px;
  color: goldenrod;
  text-decoration: none;
  font-size: 50px;
}
a:hover {
  color: gold;
  font-size: 50px;
}
#images {
  background-color: white;
  margin: 0;n
  text-align: center;
  color: black;
  font-family: arial;
  text-transform: uppercase;
}
#images img {
  max-width: 100%;
  margin: 25px 0px;
}
