body {
  background-color: blanchedalmond;
  color: coral;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 100px 50px 50px 100px;
}
p {
  font-size: 100px;
  text-align: center;
  letter-spacing: 0px;
  text-transform: uppercase;
}
a {
  color: deeppink;
  text-decoration: none;
}
a:hover {
  color: mediumspringgreen;
  transition: color 2s ease;
}
