body {
  margin: 0
  overflow-x: hidden;
}
.container {
  width: 300vw;
  margin: -50px -10%;
}
.block-1, .block-2, .block-3, .block-4, .block-5, .block-6 {
  float: left;
}
.block-1 {
  background-color: darkgreen;
  width: 100px;
  height: 100px;
  float: left;
  border-color: darkgreen;
  margin: 50px;
}
.block-2 {
  background-color: darkolivegreen;
  border-color: darkolivegreen;
  width: 100px;
  height: 250px;
  margin: 50px;
}
.block-3 {
  background-color: seagreen;
  border: 10px solid black;
  float: left;
  width: 100px;
  height: 100px;
  border-color: seagreen;
  margin: -50px;
}
.block-4 {
  background-color: forestgreen;
  width: 100px;
  height: 250px;
  float: left;
  border-color: forestgreen;
  margin: -50px;
  opacity: .5;
}
.block-5 {
  background-color: mediumseagreen;
  border-color: mediumseagreen;
  width: 100px;
  height: -250px;
  margin: 50px;
}
.block-6 {
  background-color: darkseagreen;
  border: 10px solid black;
  float: left;
  width: 100px;
  height: 250px;
  border-color: darkseagreen;
  margin: -50px;
}
