body {
  margin: 0;
  background-color: darkslategray;
}
* {
  box-sizing: border-box;
}
.bosscontainer {
  width: 1200px;
  margin: auto 100px;
}
.container {
  width: 900px;
  float: left;
}
.container2 {
  width: 150px;
  float: left;
}
.container3 {
  width: 750px;
  float: left;
}
.container4 {
  width: 150px;
  float: left;
}
.side {
  width: 300px;
  height: 750px;
  background-color: thistle;
  float: left;
  border: 2px solid white;
}
.box {
  width: 150px;
  height: 250px;
  background-color: thistle;
  float: left;
  border: 2px solid white;
}
.tallbox {
  width: 150px;
  height: 500px;
  background-color: thistle;
  float: left;
  border: 2px solid white;
}
.tallbig {
  width: 300px;
  height: 500px;
  background-color: thistle;
  float: left;
  border: 2px solid white;
}
