body {
  margin: 0;
  background-color: darkslategray;
}
* {
  box-sizing: border-box;
}
.court {
  width: 900px;
  margin: 100px auto;
}
.side {
  width: 150px;
  height: 600px;
  background-color: thistle;
  float: left;
  border: 5px solid white;
}
.back {
  width: 600px;
  height: 100px;
  background-color: thistle;
  float: left;
  border: 5px solid white;
}
.service {
  width: 300px;
  height: 500px;
  background-color: thistle;
  float: left;
  border: 5px solid white;
}
.single {
  width: 600px;
  float: left;
}
