body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  width: 80vw;
  margin: 150px auto;
}
.header {
  width: 100%;
}
.maintext {
  width: 50%;
  margin: 30% 0 0 50%;
}
 @media only screen and (max-width: 768px) {
   body {
     background-color: black;
   }
   .container {
     margin: 50px auto;
     font-family: serif;
     color: white;
   }
   .maintext {
     font-family: serif;
     width: 100%;
     margin: 20% 0 0 0;
     color: white;
   }
 }
